<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `javascript:void(0);sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav" id="accordian">
    <ul class="show-dropdown">
      <li>
        <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>
      </li>
      <li class="{% if page.layout == 'cultivation_log' %}active{% endif %}"><a href="javascript:void(0);" class="sidebar-nav-item">栽培リスト</a><ul class="{% if page.layout == 'cultivation_log' %}show-dropdown{% endif %}">
{% for genus in site.data.genuses %}
  <li class="{% if page.genus == genus.name %} active{% endif %}"><a href="javascript:void(0);" class="sidebar-nav-item">{{ genus.header }}</a><ul class="{% if page.genus == genus.name %}show-dropdown{% endif %}">
      {% for sub_category in genus.sub_categories %}
        <li class="{% if page.sub_category == sub_category.name %} active{% endif %}"><a href="javascript:void(0);" class="sidebar-nav-item">{{ sub_category.header }}</a><ul class="{% if page.sub_category == sub_category.name %}show-dropdown{% endif %}">
          {% for environment in sub_category.environments %}
            <li class="{% if page.environment == environment.name %} active{% endif %}"><a href="javascript:void(0);" class="sidebar-nav-item">{{ environment.header }}</a><ul class="{% if page.environment == environment.name %}show-dropdown{% endif %}">
              {% for cultivation_log in site.cultivation_logs %}
                  {% if genus.name == cultivation_log.genus %}
                      {% if sub_category.name == cultivation_log.sub_category %}
                          {% if environment.name == cultivation_log.environment %}
                            <li>
                              <a href="{{site.baseurl}}{{ cultivation_log.url }}" class="sidebar-nav-item">
                                {{ cultivation_log.name }}
                                {% if cultivation_log.alias %}
                                    ({{ cultivation_log.alias }})
                                {% endif %}
                                {% if cultivation_log.logs %}
                                {% else %}
                                  (Coming Soon)
                                {% endif %}
                              </a>
                            </li>
                          {% endif %}
                      {% endif %}
                  {% endif %}
              {% endfor %}
            </ul></li>
          {% endfor %}
        </ul></li>
      {% endfor %}
  </ul></li>
{% endfor %}
</ul></li>
    <li><a href="javascript:void(0);" class="sidebar-nav-item">温室</a><ul>
      {% for child_page in site.greenhouse %}
        <li><a class="sidebar-nav-item" href="{{site.baseurl}}{{ child_page.url }}">{{child_page.title}}</a></li>
      {% endfor %}
    </ul></li>

    <li><a href="javascript:void(0);" class="sidebar-nav-item">入手方法</a><ul>
      {% for child_page in site.purchasing %}
        <li><a class="sidebar-nav-item" href="{{site.baseurl}}{{ child_page.url }}">{{child_page.title}}</a></li>
      {% endfor %}
    </ul></li>

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    <li><span class="sidebar-nav-item">Currently v{{ site.version }}</span></li>
  </ul>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
