---
---

.log-image {
    width: 7vw;
    height: auto;
    max-height: 10vw;
    object-fit: contain;
    object-position: center center;
    display: inline;
}

.text-content {
    white-space: pre-line;
}
