---
layout: default
---

<h1>
    {{ page.name }}
</h1>

{% if page.alias %}
<h2>{{ page.alias }}</h2>
{% endif %}

{% if content %}
<h2> 特徴 </h2>
{{ content }}
{% else %}
<h2> 準備中</h2h2>
{% endif %}

{% if page.logs %}
<h2> 栽培株 </h2>
{% endif %}

{% for log in page.logs %}
<h3> {{ log.source }} - {{ log.propagation }} </h3>
<h4> 栽培開始日: {{ log.start_date }}</h4>

{% assign image_files = site.static_files | where: "image", true %}

<table>
    <colgroup>
        <col width="17%" />
        <col width="83%" />
    </colgroup>
        <thead>
            <tr class="header">
                <th>日付</th>
                <th>更新内容</th>
            </tr>
        </thead>
    <tbody>
        {% for entry in log.entries %}
            {% for content in entry.contents %}
            <tr>
                {% if forloop.index0 == 0 %}
                    <td markdown="span" rowspan="{{ forloop.length }}"> {{ entry.date }} </td>
                {% endif %}
                <td markdown="span">
                    {% for item in content.items %}
                        {% if forloop.index0 > 0 %}
                            <br>
                        {% endif %}
                        {% if item.text %}
                            <span class="text-content"> {{ item.text }} </span>
                        {% endif %}
                        {% if item.auto_image %}
                            {% assign image_prefix = page.genus | append: '/' | append: item.auto_image.id | append: '/' | append: entry.date %}
                            {% assign prefix_list = "" | split: ',' %}
                            {% assign prefix_list = prefix_list | push: image_prefix %}
                        {% elsif item.local_images %}
                            {% assign prefix_list = item.local_images %}
                        {% else %}
                            {% assign prefix_list = "" | split: ',' %}
                        {% endif %}
                        {% if prefix_list %}
                            {% assign image_links = "" | split: ',' %}
                            {% for image in prefix_list %}
                                {% for site_image in image_files %}
                                    {% if site_image.path contains image %}
                                        {% assign image_link = site.baseurl | append: site_image.path %}
                                        {% assign image_links = image_links | push: image_link %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% if image_link %}
                                <span>
                                    {% for image_link in image_links %}
                                        {% if item.auto_image.line_breaks %}
                                            {% if item.auto_image.line_breaks contains forloop.index0 %}
                                                <br>
                                            {% endif %}
                                        {% endif %}
                                        <a href="{{ image_link }}" target="_blank"><img class="log-image" src="{{ image_link }}"></a>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}
